@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$background: #1f2937;
$text-color: #ffffff;
$color-blue: #2563eb;
$lite-black: #374151;
$clr-green: #10b96d;

@mixin base-btn {
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
@mixin bill-btn {
  @include base-btn();
  background-color: $lite-black;
  color: #ffffff;
}
@mixin btn-primary {
  @include base-btn();
  background-color: $color-blue;
  color: $text-color;
  padding: 10px 15px;
}
@mixin font-style($size: "16px") {
  @if $size == "16px" {
    font-size: $size;
    font-weight: 600;
  } @else {
    font-size: $size;
    font-weight: 600;
  }
}

.cash-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: Poppins;

  .cash {
    background-color: $background;
    color: $text-color;
    padding: 15px;
    width: 65%;
    header {
      border-bottom: 2px solid $lite-black;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Poppins;
      }
      .bill {
        @include font-style($size: 16px);
        padding: 0 5px;
        max-height: 24px;

        a {
          @include btn-primary();
          margin-top: 10px;
          padding: 6px 10px;
        }
      }
      .type {
        display: flex;
        gap: 10px;
        button {
          @include bill-btn();
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          padding: 8px 25px;
          span {
            @include font-style($size: 14px);
          }
        }
        .active {
          background-color: #2563eb;
        }
      }
      .bill-amt {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 5px 5px;
        p {
          @include font-style($size: 16px);
          margin-bottom: 1px;
        }
        span {
          @include font-style($size: 24px);
          color: $clr-green;
        }
      }
    }

    main {
      display: flex;
      justify-content: space-between;
      .calculator {
        div {
          p {
            @include font-style($size: 16px);
          }
        }
        input {
          color: $text-color;
          background-color: $background;
          padding: 10px;
          font-size: 18px;
          outline: none;
          border: 1px solid $lite-black;
          border-radius: 5px;
          margin-bottom: 5px;
          width: 365px;
          margin-bottom: 12px;
          text-align: end;
          &:focus {
            border: 2px solid $color-blue;
          }
        }
        .alert {
          padding-right: 3px;
          margin-bottom: 7px;
          text-align: end;
        }
        .numbers {
          display: grid;
          grid-template-columns: repeat(3, minmax(30px, 124px));
          gap: 5px;
          button {
            @include bill-btn();
            font-size: 2.5rem;
            color: $text-color;

            &:hover {
              background-color: $color-blue;
            }
          }
          :last-child {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 5;
            grid-row-end: 6;
          }
        }
      }
      .payment-div {
        width: 50%;
        .currency {
          margin-top: 20px;
          p {
            @include font-style($size: 16px);
          }
          div {
            display: flex;
            gap: 15px;
            button {
              @include bill-btn();
              @include font-style($size: 17px);
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;
              color: #9ca3af;
            }
          }
          span {
            @include font-style($size: 14px);
          }
        }
        .pay-details {
          background-color: #111827;
          border-radius: 5px;
          margin-bottom: 20px;
          p {
            @include font-style($size: 14px);
          }
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            max-height: 40px;
          }
          span {
            @include font-style($size: 16px);
            color: $clr-green;
          }
        }
        .bill-btn {
          display: flex;
          gap: 10px;
          justify-content: space-between;
          button {
            @include btn-primary();
            @include font-style($size: 12px);
          }
        }
      }
      // card styles
      .card {
        display: flex;
        flex-direction: column;

        h3 {
          @include font-style($size: 16px);
          letter-spacing: 0.5px;
        }
        div {
          display: flex;
          background-color: #111827;
          justify-content: space-between;
          align-items: center;
          width: 950px;
          padding: 0 10px;
          border-radius: 3px;
          span {
            @include font-style($size: 16px);
            color: $clr-green;
          }
        }
        button {
          @include btn-primary();
          margin-top: 20px;
          align-self: flex-end;
          width: max-content;
          padding: 10px 25px;
        }
      }
      //UPI
      .upi {
        display: grid;
        select {
          width: 450px;
          padding: 10px;
          border: 1px solid $lite-black;
          background-color: #111827;
          color: $lite-black;
          font-size: 16px;
          border-radius: 4px;
          font-weight: 500;

          option {
            font-size: 16px;

            padding: 15px;
            &:hover {
              background-color: $color-blue;
            }
          }
        }
        .paydetails {
          width: 950px;

          div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #111827;
            padding: 0 10px;
            border-radius: 3px;
          }
          span {
            @include font-style($size: 16px);
            color: $clr-green;
          }
        }
        button {
          @include btn-primary();
          align-self: flex-end;
          justify-self: end;
          width: 100px;
          margin-top: 20px;
        }
      }
    }

    .foot {
      width: 1000px;
      overflow: scroll;
      a {
        min-width: 200px;
      }
    }

    .foot::-webkit-scrollbar {
      display: none;
    }
  }
  .billing-container {
    padding-top: 20px;
    width: 35%;
    box-sizing: border-box;
    .billing-head {
      display: none;
    }
    .bill-items {
      padding-top: 5px;
      height: 450px;
    }
    .bill-itemPrice {
      button {
        display: none;
      }
    }
    #generic {
      display: none;
    }

    .coupen {
      display: none;
    }
    footer {
      display: none;
    }
  }
}

.dinein {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  .foot {
    width: 100vw;
  }
}
.orders {
  .orderOnlinePage {
    max-height: calc(100vh - 60px); // footer height:60
  }
  .foot {
    width: 100vw;
  }

  .orderpage-div,
  .split,
  .pending-div {
    input {
      font-size: 10px;
      font-weight: 600;
      border: 1px solid rgba(132, 130, 130, 0.47);
    }
  }
}

.customer {
  input {
    font-size: 10px;
    font-weight: 600;
    border: 1px solid rgba(132, 130, 130, 0.47);
  }
  .foot {
    width: 100vw;
  }
}
.customerinfo {
  label {
    font-size: 12px;
  }
  input {
    border-radius: 5px;
    padding: 4px;
  }
  img {
    border-radius: 8px;
  }
}
.report {
  .foot {
    width: 100vw;
  }
  main {
    div {
      border-radius: 8px;
    }
  }
}
@media screen and (max-width: 720px) {
  .cash {
    max-width: 470px;
    main {
      .calculator {
        max-width: 40%;

        input {
          max-width: 165px;
        }
        .numbers {
          max-width: 220px;
          button {
            font-size: 6px;
          }
        }
      }
      .card {
        div {
          max-width: 450px;
        }
      }
    }
    .payment-div {
      #block {
        display: none;
      }
      .currency {
        div {
          display: flex;
          gap: 5px;
          // button {
          //   @include bill-btn();
          // }
        }
      }
    }
    .upi {
      .paydetails {
        max-width: 450px;
      }
    }
    .foot {
      max-width: 400px;
      overflow: scroll;
      div {
        min-width: 90px;
      }
    }
  }
}
